.slider-container {
    text-align: center;
    height: 50%;
    width: 100%;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
    height: 600px;
    /* Set a fixed height for all slides */
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    display: block;
}

img {
    width: 100%;
    height: 100%;
    /* Make the image fill the entire slide height */
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 2px black;
}

button {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 10px;
}

button:hover {
    background-color: #c0392b;
    transform: scale(1.1);
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Adjusted position for slide indicators */
.slide-indicators {
    position: absolute;
    bottom: 150px;
    /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #3498db;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: #f78080;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .slide {
        height: 300px;
        /* Adjust the height for smaller screens */
    }

    .slide-indicators {
        bottom: 30px;
        /* Adjust the distance from the bottom for smaller screens */
    }

    .slide-indicators {

        bottom: 56%;
        /* Adjust the distance from the bottom */

    }

    button {
        padding: 5px 10px;

        border: none;

        border-radius: 5px;
    }
}